openai
python-dotenv
spider-client
websockets
asyncio
requests
pdfminer.six
bs4
fastapi
python-multipart
uvicorn
sqlalchemy
passlib
email-validator
bcrypt
circle-developer-controlled-wallets
circle-smart-contract-platform
circle-user-controlled-wallets